.accordion-item {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background: white;
  }

  .accordion-item-w {
        background-color: #eee;
        /* background-color: #eee; #dee7ff* #1412af2b */
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition:.4s;
      }